[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
rq = "*"
flask = "*"
docker = "*"
mpyc-custom = "==0.10.10"

[dev-packages]

[requires]
python_version = "3.10"
